<%= form_with(model: [@post, @new_comment], local: true, class: "bg-white shadow rounded-lg p-4") do |form| %>
  <div class="mb-4">
    <%= form.label :comment, t('posts.show.new_comment') , class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :comment, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows: 4 %>
  </div>
  <div class="action">
    <%= form.submit t('defaults.post'), class: "btn btn-primary bg-orange-400 hover:bg-orange-500 border-none font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
