<header>
    <nav class="nav-bar">
        <div class="nav-container">
            <!-- 中央寄せの項目 -->
            <ul class="nav-list">
                <li><%= link_to "投稿一覧", root_path %></li>
                <li><a href="#">AI楽曲紹介</a></li>
            </ul>

            <!-- 右寄せの項目 -->
            <div class="nav-right">
                <%= link_to "ログイン", new_user_session_path %>
            </div>
        </div>
    </nav>
</header>
