<footer class="text-white p-4" style="background-color: #06111a;">
    <ul class="footer-list flex justify-between w-full max-w-4xl mx-auto">
        <%= link_to '利用規約', terms_path, class: "hover:text-gray-300" %>
        <%= link_to 'プライバシーポリシー', privacy_path, class: "hover:text-gray-300" %>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdpCgt1CNHMcSx4X7ws1lYoN1n-5DkSueOABe0Dxkl-QVRhyQ/viewform" class="hover:text-gray-300">お問い合わせ</a></li>
    </ul>
</footer>
