<header>
    <nav class="nav-bar">
        <div class="nav-container">
            <ul class="nav-list">
                <%= link_to "投稿一覧", root_path %>
                <li><a href="/ai_music">AI楽曲紹介</a></li>
            </ul>
            <div class="nav-right">
                <% if user_signed_in? %>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                <% else %>
                    <%= link_to "ログイン", new_user_session_path %>
                <% end %>
            </div>
        </div>
    </nav>
</header>
