<div class="container padding-top-custom mx-auto">
  <div class="flex flex-col items-center justify-center">
    <div class="w-full">
      <div class="flex flex-col items-center">
        <% if @posts.present? %>
          <%= render @posts %> 
        <% else %>
          <p class="text-center"><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
