<% if spotify_id %>
  <iframe src="https://open.spotify.com/embed/track/<%= spotify_id %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% else %>
  <p>Spotifyのリンクが無効です。</p>
<% end %>
