<div class="container padding-top-custom mx-auto">
  <div class="flex flex-col items-center justify-center">
    <div class="w-full">
      <div class="flex flex-col items-center">
        <% if @posts.present? %>
          <%= render @posts %> 
        <% else %>
          <p class="text-center"><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="new-post-button">
    <%= link_to t('defaults.post'), new_post_path, class: "btn btn-primary bg-orange-400 hover:bg-orange-500 border-none font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", data: { turbo: false } %>
  </div>
<% end %>

<%= paginate @posts %>
