<div class="flex justify-center">
  <div class="w-5/12 mb-3" style="min-height: 300px; overflow-y: auto; text-color: black;">
    <h1 style="font-size: 32px; text-align: left;"><%= t('.title') %></h1>
    <br>
    <%= render 'form', { post: @post } %>
  </div>
</div>
