.nav-bar {
  width: 100%;
  background-color: #333; /* 暗い背景色 */
  color: white;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-list li {
  margin: 0 15px; /* アイテム間の余白 */
}

.nav-right {
  margin-left: auto;
}

.nav-bar a {
  color: white;
  text-decoration: none; /* リンクの下線を削除 */
}

.nav-bar a:hover {
  text-decoration: underline; /* ホバー時の装飾 */
}
