/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */


@import "header";
@import "footer"; 
@import "font-awesome";

.flash {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #f2f2f2; /* グレーの背景色 */
}

.flash.notice {
  border-color: #cce5ff;
}

.flash.alert {
  border-color: #f8d7da;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
