.flash-message {
  width: 100%;
  position: relative;
  top: 85px;
  z-index: 1000;
}

@media (max-width: 1023px) {
  .flash-message {
    top: 90px;
  }
}

@media (max-width: 767px) {
  .flash-message {
    top: 70px;
  }
}
