/* ページネーションのスタイル */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.pagination a, .pagination span {
  padding: 8px 16px;
  border-radius: 4px;
  color: #eec374;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #f3f3f3;
  color: #ffa500;
}

.pagination .active span {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination .disabled span {
  color: #ccc;
}

.pagination a:hover .translation_missing {
  color: #ffa500;
}
