<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2><%= "AI楽曲紹介" %></h2>
      <br>
      <%= render 'form', { spotify_track: @spotify_track } %>
    </div>
  </div>
</div>
