<div class="container mx-auto">
  <div class="flex flex-col items-center">
    <div class="col-lg-8 offset-lg-2 w-full max-w-4xl"> 
      <h2 class="text-center"><%= t('defaults.spotify_music_recommendations') %></h2>
      <br>
      <h2 class="text-center"><%= t('spotify_tracks.new.recommendation_intro') %></h2>
      <h2 class="text-center"><%= t('spotify_tracks.new.artist_song_limit') %></h2>
      <br>
      <%= render 'form', { spotify_track: @spotify_track } %>
    </div>
  </div>
</div>
