<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2><%= t('defaults.ai_music_recommendations') %></h2>
      <br>
      <h2><%= "アーティスト・楽曲からspotifyでおすすめの曲を10件紹介します" %></h2>
      <h2><%= "アーティスト・楽曲は合計5つまで入力できます" %></h2>
      <br>
      <%= render 'form', { spotify_track: @spotify_track } %>
    </div>
  </div>
</div>
